{% extends "helios/templates/cryptobase.html" %}

{% block title %}Mixnets for {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Mixnets <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">back to election</a>]</span></h3>

<p>
    Mixnets are responsible for shuffling the election result.<br />
    When it's time to shuffle, each mixnet needs to shuffle the ballots and upload the result along with a proof of shuffle.
</p>

{% if not election.frozen_at %}

<p>
  Helios is automatically your first mixnet and will handle its shuffling.<br />
  You may add additional mixnets if you want, and you can even remove the Helios mixnet.<br />
  However, we recommend you do this only if you have a solid understanding of the mixnets's role.
</p>

{% if admin_p %}
<p>
    [ <a onclick="return(confirm('Adding your own mixnet requires a good bit more work to tally the election.\nEach mixnet will need to re-encrypt and permute the ballots itself, and\nprovide a shadow mix shuffle proof.\n\nIf you are not sure what that means, we strongly recommend\nclicking Cancel and letting Helios shuffle the election for you.'));" href="{% url "helios.views.new_mixnet" election.uuid %}">add a mixnet</a> ]
</p>
{% if not election.has_helios_mixnet %}
<p>
    <a href="{% url "helios.views.new_mixnet_helios" election.uuid %}">add Helios as a mixnet</a>
</p>
{% endif %}
{% endif %}

{% endif %}

{% if not mixnets|length %}

{% else %}
{% for t in mixnets %}
<h5> Mixnet #{{forloop.counter}}: {{t.name}} 
{% if admin_p %}
{% if t.name == "Helios mixnet" %}
{% if not election.frozen_at %}[<a onclick="return confirm('Are you sure you want to remove Helios as a mixnet?');" href="{% url "helios.views.delete_mixnet" election.uuid %}?index={{forloop.counter|add:-1}}">x</a>]{% endif %}
{% else %}
({{t.email}})
{% if not election.frozen_at %}[<a onclick="return confirm('Are you sure you want to remove this mixnet?');" href="{% url "helios.views.delete_mixnet" election.uuid %}?index={{forloop.counter|add:-1}}">x</a>]{% endif %}
[<a onclick="return confirm('Are you sure you want to send this mixnet its admin URL?');" href="{% url "helios.views.mixnet_send_url" election.uuid forloop.counter|add:-1 %}">send login</a>]
{% endif %}
{% endif %}
</h5>

{% if t.mixed_answers.filter|length %}
<b>shuffle recorded for this mixnet.</b>
{% else %}
<em>waiting for this mixnets's shuffle</em>
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
