{% extends "helios/templates/cryptobase.html" %}

{% block content %}
<script language="javascript">

$(document).ready(function() {
    $('#waiting_submit_div').hide();
    $('#done_div').hide();
    $('#error_div').hide();
});


function submit_result() {
  $('#step_two').hide();
  $('#waiting_submit_div').show();

  var result = new FormData($('form')[0]);
  
  // do the post
  $.ajax({
      type: 'POST',
      url: "./upload-commitment",
      data: result,
      cache: false,
      processData: false,
      contentType: false,
      success: function(result) {
        $('#waiting_submit_div').hide();
        if (result != "FAILURE") {
          $('#done_div').show();
        } else {
          $('#waiting_submit_div').hide();
          $('#error_div').show();
        }
      },
      error: function(error) {
          $('#waiting_submit_div').hide();
          $('#error_div').show();
      }
  });
}

</script>
  <h2 class="title">Trustee {{trustee.name}} &mdash; Upload commitment for {{election.name}}</h2>

<p>
    <b>Trustee:</b> <tt>{{trustee.email}}</tt><br />
    <b>Public Key Fingerprint:</b> <tt>{{trustee.public_key_hash}}</tt>
</p>

    <p>
      The election administrator has enabled threshold decryption. In order to facilitate this, each trustee much upload a commitment to be used to generate the election public key.
    </p>

    <p>
      This process is performed in two steps.<br /><br />
      <u>First</u>, you must generate a commitment. This is currently not possible in the browser, so you will need to use the <a href="https://github.com/RunasSudo/helios-server-mixnet/tree/master/standalone">standalone Python threshold commitment generator</a>, then return to this page.<br /><br />
      <u>Second</u>, once your commitment has been generated, your browser will need to be "online" to submit them to the server.
    </p>

  <div id="waiting_submit_div">
      Submitting and checking your commitment...<br />
      <img src="/static/helios/loading.gif" />
  </div>
  
  <div id="step_two">
      <h3>FIRST STEP: generate a commitment</h3>
      
      <h3>SECOND STEP: upload your commitment</h3>
      <form action="javascript:submit_result();" enctype="multipart/form-data">
          Your commitment:
          <input name="commitment_file" type="file" /><br /><br />
          <input type="submit" value="Upload commitment to server" />
      </form>
  </div>
  
  <div id="done_div">
      Done! <a href="{% url "helios.views.one_election_view" election.uuid %}">Back to election</a>
  </div>
  
  <div id="error_div">
      <strong style="color: red;">An error occurred. Refresh the page to try again.</strong>
  </div>

{% endblock %}
